@use "../mixin/mixin" as m;
@use "../setting/setting" as s;

/* --------------------------------
c-footer
----------------------------------- */
.p-footer {
  background: s.$offWhite3;
  padding: 65px 20px;
  @include m.sp {
    padding: 35px 20px 20px;
  }
  &__nav-list {
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 20px;
    @include m.sp {
      font-size: 13px;
      gap: 1rem;
    }
  }
}
