@use '../mixin/mixin' as *;

/* --------------------------------
c-pagetop
----------------------------------- */
.c-pagetop {
  right: 30px;
  a {
    display: block;
  }
  @include sp {
    right: 10px;
  }
}