@use "../../mixin/mixin" as m;
@use "../../setting/setting" as s;

/*----------------------------------
  common
-----------------------------------*/
//base
main {
  background: s.$offWhite;
}
.c-wrapper {
  position: relative;
}
.pc-only {
  display: block;
  @include m.sp {
    display: none;
  }
}
.sp-only {
  display: none;
  @include m.sp {
    display: block;
  }
}
th,
td {
  vertical-align: top;
}
.space {
  margin-top: 60px;
  @include m.sp {
    margin-top: 0px;
  }
}
.c-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
//fonts
.c-nav_text {
  font-size: 18px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.2;
}

.c-content {
  &__title--black {
    font-size: 32px;
    letter-spacing: 0.05em;
    line-height: 1;
    margin-bottom: 15px;
    @include m.sp {
      font-size: 28px;
    }
  }
  &__sub-title {
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.05em;
    display: inline-block;
    padding-bottom: 40px;
    @include m.sp {
      letter-spacing: 0.02em;
    }
  }
  &__title--green {
    font-size: 34px;
    font-weight: s.$medium;
    letter-spacing: 0.1em;
    color: s.$tealBlue;
    @include m.sp {
      font-size: 24px;
    }
  }
  &__text {
    font-size: 16px;
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.875;
    letter-spacing: 0.05em;
  }
}
.c-primary {
  &__title {
    letter-spacing: 0.05em;
    font-weight: s.$semi-bold;
    position: relative;
    &--cat {
      font-size: 28px;
      margin-bottom: 26px;
      display: inline-block;
      @include m.sp {
        font-size: 18px;
        margin-bottom: 12px;
      }
    }
    &--main {
      font-size: 60px;
      display: inline-block;
      margin-left: 20px;
      @include m.sp {
        font-size: 28px;
      }
    }
  }
  &__title::before {
    @include m.sp {
      content: "";
      position: absolute;
      top: -175%;
      right: -2px;
      width: 200px;
      height: 130px;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 50%;
      -webkit-filter: blur(30px);
      filter: blur(30px);
      z-index: -1;
    }
  }
}
//button
.c-link {
  &__btn {
    display: inline-block;
    width: 400px;
    text-align: center;
    line-height: 50px;
    background: s.$lightGreen;
    border-radius: 25px;
    font-weight: s.$medium;
    color: #fff;
    position: relative;
    @include m.sp {
      width: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 14px;
      background-image: url("../../img/common/arrow-white.png");
      background-size: contain;
      background-repeat: no-repeat;
      top: 50%;
      right: 5%;
      transform: translateY(-50%);
      z-index: 1;
    }
  }
}
.sticky-btn {
  font-size: 28px;
  font-family: "Noto Sans JP", sans-serif;
  display: inline-block;
  background: s.$lightGreen;
  border-radius: 25px 0 0 25px;
  padding: 25px 40px;
  color: #fff;
  position: fixed;
  top: 40%;
  right: 0;
  z-index: 1000;
  font-weight: s.$medium;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
  @include m.sp {
    display: none;
  }
}
.sticky.is-show .sticky-btn {
  visibility: visible;
  opacity: 1;
}
.sticky-img {
  margin-right: 20px;
}

//header
.c-header__link {
  display: inline-block;
  width: 250px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: s.$medium;
  border-radius: 0 0 10px 10px;
  img {
    vertical-align: text-bottom;
    margin-right: 15px;
  }
}
//logo
.sp .p-common__nav-link {
  font-size: 12px;
}
.p-common {
  &__logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    @include m.sp {
      gap: 1rem;
    }
  }
  &__logo-text {
    display: inline-block;
    vertical-align: middle;
  }
  &__logo {
    margin-bottom: 35px;
    @include m.sp {
      margin-bottom: 10px;
    }
  }
  &__logo-img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    @include m.sp {
      width: 60px;
      height: 60px;
    }
  }
  &__logo--lg {
    font-size: 28px;
    letter-spacing: 0.05em;
    line-height: 1.5;
    @include m.sp {
      font-size: 20px;
    }
  }
  &__logo--md {
    font-size: 18px;
    letter-spacing: 0.05em;
    @include m.sp {
      font-size: 14px;
    }
  }
}

/*----------------------------------
  page-common
-----------------------------------*/
.p-page__primary-title {
  font-size: 38px;
  font-weight: s.$medium;
  letter-spacing: 0.3em;
  color: s.$tealBlue;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 16px;
  @include m.sp {
    font-size: 26px;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: s.$tealBlue;
    height: 1px;
  }
  &--left {
    margin-top: 40px;
    display: inline-block;
    @include m.sp {
      margin-top: 0px;
      display: block;
    }
  }
  &--right::before {
    left: 0;
    width: 50vw;
    @include m.sp {
      width: 90vw;
    }
  }
  &--left::before {
    left: -16vw;
    width: calc(100% + 16vw);
    @include m.sp {
      right: 50%;
      left: -3vw;
      width: calc(100% + 6vw);
    }
  }
}

/*---------------------------------
  p-fv
-----------------------------------*/
.p-fv {
  background-image: url(../../img/common/fv-bg.jpg);
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    @include m.sp {
      align-items: flex-start;
    }
  }
  &__logo {
    margin-bottom: 36px;
    @include m.sp {
      width: 100px;
      margin-bottom: 150px;
    }
  }
  &__img-wrapper {
    flex: 1 1 76.6vw;
    @include m.sp {
      height: 400px;
      overflow: hidden;
      position: relative;
    }
  }
  &__img {
    width: 100%;
    border-top-left-radius: 33vw;
    object-fit: cover;
    @include m.sp {
      height: 400px;
      width: 100%;
      display: block;
      object-position: 85% center;
      border-top-left-radius: 60vw;
    }
  }
  &__title-wrapper {
    padding-left: 5.8%;
    white-space: nowrap;
    margin-right: -10vw;
    z-index: 10;
    position: relative;
    @include m.sp {
      margin-top: 40px;
      padding-left: 20px;
      margin-right: -21vw;
    }
    &::after {
      position: absolute;
      content: "";
      background-image: url("../../img/common/star.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      right: 15%;
      bottom: -1%;
      @include m.sp {
        right: 4%;
        bottom: 7%;
      }
    }
  }
}

/*----------------------------------
  p-nav
-----------------------------------*/
.p-nav {
  background: s.$lightBeige;
  &__wrapper {
    @include m.sp {
      display: none;
      &.is-open {
        display: block;
        & .p-nav__list {
          @include m.sp {
            flex-direction: column;
            gap: 2rem;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 100;
            background: s.$gold;
          }
        }
      }
    }
  }
  &__list {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  &__item--secondary {
    background: s.$offWhite;
    display: block;
    padding: 15px 40px;
    border-radius: 10px;
    width: 100%;
  }
  &__link {
    @include m.sp {
      color: #fff;
      font-size: 22px;
    }
  }
  &__link--secondary {
    @include m.sp {
      color: s.$black;
    }
  }
  &__secondary {
    display: none;
    @include m.sp {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      width: fit-content;
    }
  }
}
//下層ページのみ
.page.p-nav {
  background: s.$offWhite3;
  @include m.sp {
    padding-top: 10px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
  }
  &__list {
    height: 130px;
  }
}

/*----------------------------------
  p-main
-----------------------------------*/
.p-main {
  background: s.$offWhite;
}

/*----------------------------------
  p-about
-----------------------------------*/
.p-about {
  padding: 100px 0;
  @include m.sp {
    padding: 80px 0;
  }

  &__wrapper {
    display: flex;
    overflow: hidden;
    @include m.sp {
      display: block;
    }
  }
  &__img-wrapper {
    flex: 1 1 40%;
    z-index: 10;
    margin-right: -10%;
    @include m.sp {
      margin-right: 0;
      width: 90%;
    }
  }
  &__img {
    border-radius: 0 20vw 20vw 0;
    @include m.sp {
      border-radius: 0 90vw 90vw 0;
      position: relative;
      z-index: 1;
    }
  }
  &__container {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../../img/common/bg-img.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 300px;
      height: 300px;
      bottom: 0;
      right: 0%;
    }
    @include m.sp {
      &::after {
        right: -26%;
        bottom: 1%;
      }
    }
  }
  &__text {
    margin-bottom: 30px;
  }
  &__text-ttl {
    text-align: center;
  }
  &__container {
    margin-top: 60px;
    padding: 70px 30px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 60%;
    background: s.$lightBeige;
    border-radius: 30vw 0 0 30vw;
    @include m.sp {
      margin-top: -190px;
      border-radius: 80vw 0 0 0;
      z-index: 0;
      padding: 240px 20px 80px;
    }
  }
  &__link {
    text-align: center;
  }
}

/*----------------------------------
  p-feature
-----------------------------------*/
.p-feature {
  &__content-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
    @include m.sp {
      flex-direction: column-reverse;
      margin-bottom: 60px;
    }
  }
  &__content-box--right {
    flex-direction: row-reverse;
  }
  &__text-wrapper {
    flex: 1 1 44.5%;
    padding-right: m.vw(55);
    padding-left: m.vw(133);
    @include m.sp {
      padding: 0 20px;
    }
  }
  &__content-title {
    padding-bottom: 27px;
    margin-bottom: 27px;
    display: inline-block;
    position: relative;
    @include m.sp {
      padding-bottom: 10px;
      display: block;
    }
  }
  &__content-title--right {
    display: block;
  }
  &__content-title::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: s.$tealBlue;
    height: 1px;
  }
  &__content-title--left::before {
    right: 0;
    width: calc(100% + m.vw(133));
    @include m.sp {
      right: 50%;
    }
  }
  &__content-title--right::before {
    left: 0;
    width: calc(100% + m.vw(55));
    @include m.sp {
      width: calc(100% + 20px);
    }
  }
  &__img-wrapper {
    flex: 1 1 55.5%;
    @include m.sp {
      padding-left: 20px;
      margin-bottom: 27px;
    }
  }
  &__img-wrapper--right {
    @include m.sp {
      padding-left: 0;
      padding-right: 20px;
    }
  }
  &__img {
    width: 100%;
    border-radius: calc(55.5vw / 2) 0 0 calc(55.5vw / 2);
    @include m.sp {
      border-radius: 50vw 0 0 50vw;
    }
  }
  &__img--right {
    width: 100%;
    border-radius: 0 calc(55.5vw / 2) calc(55.5vw / 2) 0;
    @include m.sp {
      border-radius: 0 50vw 50vw 0;
    }
  }
}

/*----------------------------------
  p-detail
-----------------------------------*/
.p-detail {
  &__wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 110px;
    @include m.sp {
      padding-bottom: 70px;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    @include m.sp {
      flex-direction: column;
    }
  }
  &__link:hover {
    opacity: 1;
  }
  &__item {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
    @include m.sp {
      height: 170px;
    }
  }
  &__item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }
  &__item::before {
    position: absolute;
    content: ">";
    top: 50%;
    right: 4%;
    font-size: 40px;
    transform: translateY(-50%);
    color: #fff;
    z-index: 100;
    @include m.sp {
      font-size: 24px;
    }
  }
  &__img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__text {
    position: absolute;
    color: #fff;
    font-size: 38px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    letter-spacing: 0.2em;
    pointer-events: none;
    font-weight: medium;
    @include m.sp {
      font-size: 24px;
    }
  }
}

/*----------------------------------
  p-staff
-----------------------------------*/
.p-staff {
  &__wrapper {
    padding-bottom: 90px;
    position: relative;
  }
  &__text-wrapper {
    text-align: center;
  }
  &__text-ttl {
    padding-bottom: 36px;
    @include m.sp {
      padding-bottom: 32px;
    }
  }
  &__contents {
    padding-bottom: 30px;
  }
  &__container {
    z-index: 1;
    margin-top: 100px;
    background: s.$lightBeige;
    border-radius: 0 30vw 30vw 0;
    width: 90%;
    padding: 80px 25vw 70px 0;
    position: relative;
    @include m.sp {
      padding: 200px 20px 50px;
      width: 100%;
      border-radius: 0 100vw 0 0;
    }
    &::before {
      position: absolute;
      content: "";
      background-image: url("../../img/common/bg-img.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 300px;
      height: 300px;
      bottom: -80px;
      left: -30px;
      @include m.sp-s {
        background-image: url("../../img/common/bg-img-sp.png");
        left: -100px;
        bottom: -20px;
        z-index: -1;
      }
    }
  }
  &__img-wrapper {
    position: absolute;
    top: -15%;
    right: 0;
    z-index: 2;
  }
  &__img {
    border-radius: 30vw 0 0 30vw;
    width: 45vw;
    height: 35vw;
    max-height: 400px;
    object-fit: cover;
    z-index: 100;
    @include m.sp-s {
      width: calc(95vw - 20px);
      border-radius: 50vw 0 0 50vw;
      height: auto;
    }
  }
}

/*----------------------------------
  p-recruit
-----------------------------------*/
.p-recruit {
  overflow: hidden;
  padding-bottom: 110px;
  @include m.sp {
    padding-bottom: 70px;
  }
  &__img-wrapper {
    width: 100%;
    text-align: center;
  }
  &__container {
    position: relative;
    margin-bottom: calc(80px + 60px);
    @include m.sp {
      margin-bottom: 34px;
    }
  }
  &__lead-wrapper {
    text-align: center;
    position: absolute;
    z-index: 0;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    &::before {
      position: absolute;
      content: "";
      background-image: url("../../img/common/recruit-text-bg-half.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 48vw;
      min-width: 790px;
      height: 120px;
      z-index: -1;
      left: 50%;
      bottom: -1%;
      transform: translateX(-50%);
    }
    @include m.sp {
      &::before {
        background-image: url("../../img/common/recruit-text-bg-sp.png");
        width: 100vw;
        left: -30px;
        transform: none;
        height: 130px;
        bottom: -60px;
      }
    }
  }
  &__lead-text {
    font-size: 28px;
    font-weight: s.$bold;
    position: relative;
    white-space: nowrap;
    letter-spacing: 0.05em;
    @include m.sp {
      font-size: 18px;
      &::before {
        background-image: url("../../img/common/star-sp.png");
        left: -4%;
        top: -176%;
      }
      &::after {
        background-image: url("../../img/common/star-sp.png");
        right: -34%;
        top: -150%;
      }
    }
    &::before {
      position: absolute;
      content: "";
      background-repeat: no-repeat;
      width: 200px;
      height: 200px;
      left: -22%;
      top: -45%;
    }
    &::after {
      position: absolute;
      content: "";
      background-image: url("../../img/common/star.png");
      background-repeat: no-repeat;
      width: 200px;
      height: 200px;
      right: -38%;
      top: -45%;
    }
  }
  &__lead-text {
    line-height: 2;
    @include m.sp {
      line-height: 1;
    }
  }
  &__text-wrapper {
    text-align: center;
    margin-bottom: 60px;
    position: relative;
  }
  &__text-ttl {
    margin-bottom: 50px;
    border-bottom: dashed 1px #454545;
    display: inline-block;
    @include m.sp {
      font-size: 16px;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  }
  &__text {
    font-family: "Noto Sans JP", sans-serif;
    @include m.sp {
      margin-bottom: 50px;
    }
  }
  &__text + .p-recruit__text {
    margin-top: 50px;
    @include m.sp {
      margin-top: 10px;
    }
  }
  &__contents {
    @include m.sp {
      padding: 0 20px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    max-width: 1100px;
    margin: 0 auto;
    @include m.sp {
    }
  }
  &__item {
    display: flex;
    flex: 1 1 calc(100% / 3 - 36px * 2);
    @include m.sp {
      flex: 1 1 100%;
    }
  }
  &__icon {
    flex: 1 1 30%;
    background: s.$lightBeige;
    display: grid;
    place-items: center;
    padding: 10px;
    border-radius: 20px 0 0 20px;
  }
  &__item-text {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 28px;
    letter-spacing: 0.05em;
    flex: 1 1 70%;
    background: white;
    display: grid;
    place-items: center;
    padding: 10px;
    text-align: center;
    border-radius: 0 20px 20px 0;
    font-weight: s.$medium;
    line-height: 1.5;
    @include m.sp {
      font-size: 18px;
    }
  }
  &__text-sm {
    font-size: 20px;
    @include m.sp {
      font-size: 14px;
    }
  }
  &__welfare {
    padding-bottom: 85px;
    @include m.sp {
      padding-bottom: 32px;
    }
  }
  &__cta {
    background-image: url("../../img/common/recruit-cta-bg.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 20px;
    @include m.sp {
      background-image: url("../../img/common/recruit-bg-sp.png");
      background-size: cover;
    }
  }
  &__cta-content {
    background: s.$offWhite2;
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
    border-radius: 10px;
    align-items: center;
    padding: 35px;
    gap: 48px;
    @include m.sp {
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      margin: 0 20px;
    }
  }
  &__cta-img-wrapper {
    max-width: 450px;
  }
  &__cta-img {
    border-radius: 10px;
  }
  &__cta-text {
    font-size: 24px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: s.$medium;
    letter-spacing: 0.05em;
    border-bottom: dashed 1px #454545;
    padding-bottom: 5px;
    display: inline-block;
    @include m.sp {
      font-size: 16px;
      padding-bottom: 10px;
    }
  }
  &__cta-text + .p-recruit__cta-text {
    margin-top: 20px;
  }
  &__cta-text:last-of-type {
    margin-bottom: 70px;
    @include m.sp {
      margin-bottom: 30px;
    }
  }
  &__cta-link {
    letter-spacing: 0.2em;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 15px;
      background-image: url("../../img/common/arrow-right.png");
      background-repeat: no-repeat;
      background-size: contain;
      top: 50%;
      right: 4%;
      transform: translateY(-50%);
    }
    a {
      width: 100%;
    }
  }
}

/*----------------------------------
  p-address
-----------------------------------*/
th,
td {
  vertical-align: top;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 20px;
  @include m.sp {
    display: block;
    padding-bottom: 10px;
  }
}
tr {
  margin-bottom: 20px;
  display: block;
  @include m.sp {
    text-align: left;
  }
}
.p-address {
  tr {
    border-bottom: #ccc solid 1px;
  }
  font-family: "Noto Sans JP", sans-serif;
  &__wrapper {
    display: flex;
    @include m.sp {
      flex-direction: column;
    }
  }
  &__container {
    background: s.$lightBeige;
    padding: m.vw(68);
    flex: 1 1 50vw;
  }
  &__table {
    margin-bottom: 30px;
  }
  &__link {
    text-align: center;
  }
  &__text--s {
    font-size: 24px;
    font-weight: s.$medium;
    letter-spacing: 0.05em;
    display: inline-block;
    line-height: 1.5;
    @include m.sp {
      font-size: 20px;
    }
  }
  &__text--m {
    font-size: 38px;
    font-weight: s.$bold;
    @include m.sp {
      font-size: 30px;
    }
  }
  &__link {
    background: s.$offWhite;
    border-radius: 20px;
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
    @include m.sp {
      width: 100%;
      padding: 20px;
    }
  }
  &__link + .p-address__link {
    margin-top: 15px;
  }
  &__tel-img {
    width: 30px;
    height: auto;
  }
  &__img-wrapper {
    flex: 1 1 50vw;
    iframe {
      width: 100%;
      height: 100%;
      @include m.sp {
        height: 300px;
      }
    }
  }
}

/*----------------------------------
  下層共通
-----------------------------------*/
.p-page-fv {
  overflow: hidden;
  &__wrapper {
    background: linear-gradient(to bottom, s.$lightBeige 30%, transparent 30%);
  }
  &__wrapper--single-post {
    background: linear-gradient(to bottom, s.$lightBeige 45%, transparent 45%);
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    gap: m.vw(53);
    @include m.sp {
      flex-direction: column;
      gap: 0;
    }
  }
  &__img-wrapper {
    width: 100%;
  }

  &__img {
    width: m.vw(530);
    height: m.vw(530);
    border-radius: 50%;
    object-fit: cover;
    max-width: 550px;
    max-height: 550px;
    @include m.sp {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      margin-top: 20px;
    }
  }
  &__text-wrapper {
    width: 100%;
    margin-top: 64px;
    @include m.sp {
      margin-top: 32px;
    }
  }
  &__text-wrapper--single-post {
    margin-top: 0px;
  }
  &__title-wrapper {
    padding-bottom: 100px;
    @include m.sp {
      padding-bottom: 36px;
    }
  }
}

/*----------------------------------
  p-concept
-----------------------------------*/
.p-page-fv {
  &__container {
    padding: 0 20px 110px;
    @include m.sp {
      padding: 0 20px 70px;
    }
  }
  &__sub-title {
    font-size: 28px;
    font-family: "Noto Sans JP", sans-serif;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
    font-weight: s.$regular;
    @include m.sp {
      font-size: 20px;
    }
  }
  &__sub-title--sm {
    font-size: 22px;
    @media (min-width: 1200px) {
      white-space: nowrap;
    }
    @include m.sp {
      font-size: 18px;
    }
  }
  &__text + .p-page-fv__text {
    margin-top: 20px;
  }
}
.p-mv {
  position: relative;
  &.p-page-about {
    margin-bottom: 115px;
    @include m.sp {
      margin-bottom: 70px;
    }
  }
  &__title {
    position: absolute;
    font-size: 40px;
    font-weight: s.$medium;
    letter-spacing: 0.05em;
    color: #fff;
    line-height: 2;
    top: 50%;
    left: m.vw(80);
    transform: translateY(-50%);
    @include m.sp {
      font-size: 18px;
      line-height: 1.5;
      top: 31%;
    }
  }
  &__link-wrapper {
    position: absolute;
    bottom: 25%;
    transform: translateY(50%);
    left: m.vw(80);
    width: m.vw(430);
    text-align: center;
    max-width: 430px;
    @include m.sp {
      bottom: 30px;
    }
  }
  &__link {
    color: #fff;
    display: block;
    line-height: 80px;
    text-transform: uppercase;
    border: 2px solid #fff;
    font-size: 28px;
    font-weight: s.$medium;
    @include m.sp-s {
      font-size: 16px;
      line-height: 30px;
      border: 1px solid #fff;
      line-height: 26px;
    }
  }
}
.p-page-feature {
  &__wrapper {
    padding: 120px 0px 90px;
    @include m.sp {
      padding: 80px 0px 60px;
    }
  }
  &__list {
    margin: 0 auto;
    max-width: 1440px;
    margin-top: 70px;
    @include m.sp {
      margin-top: 30px;
    }
  }
  &__item {
    position: relative;
  }
  &__content-box {
    width: 80vw;
    max-width: 1366px;
    background: linear-gradient(to bottom, transparent 10%, s.$lightGreen2 10%);
    padding-bottom: 1vw;
    @include m.sp {
      width: 100vw;
    }
  }
  &__content-box-r {
    margin-left: auto;
  }
  &__text-wrapper {
    margin-top: -50px;
    @include m.sp {
      padding: 0 20px;
    }
  }
  &__text-container {
    background: s.$offWhite3;
    padding: 80px 12vw 5vw 46px;
    width: 75%;
    margin-bottom: 50px;
    overflow: hidden;
    margin-top: 180px;
    min-height: 385px;
    @include m.sp {
      width: 100%;
      margin-top: 90px;
      padding: 30px 4vw 4vw;
      min-height: 100px;
    }
  }
  &__text-container--r {
    padding: 80px 46px 5vw 10vw;
    margin-right: 0;
    margin-left: auto;
  }

  &__title {
    font-size: 32px;
    letter-spacing: 0.05em;
    color: s.$tealBlue;
    position: relative;
    padding-bottom: 20px;
    display: inline-block;
    margin-bottom: 35px;
    font-weight: normal;
    @include m.sp {
      font-size: 24px;
    }
  }
  &__title-r {
    margin-left: 10px;
  }
  &__title::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: s.$tealBlue;
    height: 1px;
  }
  &__title--right {
    display: block;
    margin-left: 1vw;
  }
  &__title--left::before {
    right: 0;
    width: calc(100% + m.vw(55));
    @include m.sp {
      right: -2%;
    }
  }
  &__text--right {
    margin-left: 1vw;
  }
  &__title--right::before {
    left: -3%;
    width: calc(100% + m.vw(55));
  }
  &__text + .p-page-feature__text {
    margin-top: 30px;
  }
  &__img-wrapper {
    width: 45vw;
    position: absolute;
    top: -10%;
    right: 0;
    max-width: 600px;
    @include m.sp {
      width: 100%;
      position: relative;
    }
  }
  &__img-wrapper--r {
    right: auto;
    left: 0;
  }
  &__img {
    width: 100%;
    object-fit: cover;
  }
}

/*----------------------------------
  p-promise
-----------------------------------*/
.p-page-promise {
  &__wrapper {
    padding: 30px 0 60px;
    max-width: 1200px;
    margin: 0 auto;
    @include m.sp {
      padding: 30px 20px 40px;
    }
  }
  &__text-container {
    text-align: center;
  }
  &__title {
    display: inline-block;
    border-bottom: dashed 1px #454545;
    padding-bottom: 10px;
    margin-bottom: 40px;
    @include m.sp {
      line-height: 1.65;
    }
  }
  &__text {
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    gap: 49px;
    @include m.sp {
      flex-direction: column;
      gap: 20px;
    }
  }
  &__item {
    flex: 1 1 33.333%;
    text-align: center;
    background: s.$offWhite3;
    padding: 40px;
    border-radius: 10px;
    @include m.sp {
      flex: 1 1 100%;
    }
  }
  &__list-title {
    font-size: 26px;
    letter-spacing: 0.05em;
    font-weight: s.$medium;
    color: s.$tealBlue;
    line-height: 2;
    @include m.sp {
      font-size: 22px;
      line-height: 1.65;
      margin: 30px 0 14px;
    }
  }
  &__list-text {
    line-height: 1.875;
  }
}

/*----------------------------------
  p-menu
-----------------------------------*/
.p-menu {
  &__link-wrapper {
    padding: 100px 20px;
    @include m.sp {
      padding: 40px 20px;
    }
  }
  &__link-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: m.vw(83);
    @include m.sp {
      flex-direction: column;
      gap: 20px;
    }
  }
  &__link {
    background: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    @include m.sp {
      padding: 15px 10px;
      justify-content: space-around;
    }
  }
  &__link-item {
    flex: 1 1 33.333%;
    @include m.sp {
      flex: 1 1 100%;
      width: 100%;
    }
  }
  &__link-item--double {
    flex: 1 1 50%;
    width: fit-content;
    @include m.sp {
      flex: 1 1 100%;
      width: 100%;
    }
  }
  &__link-text {
    margin: 0 15px 0 25px;
    font-size: 28px;
    letter-spacing: 0.3em;
    @include m.sp {
      font-size: 20px;
    }
  }
  &__link-icon {
    @include m.sp {
      width: 60px;
      height: auto;
    }
  }

  &__price-title {
    font-size: 35px;
    font-weight: s.$medium;
    letter-spacing: 0.3em;
    position: relative;
    margin-bottom: 51px;
    @include m.sp {
      font-size: 24px;
      margin-bottom: 30px;
    }
    &::before {
      content: "";
      position: absolute;
      width: calc(100% - (max(8vw, 160px)));
      height: 1px;
      background: #d1cec0;
      top: 50%;
      left: max(8vw, 160px);
      transform: translateY(-50%);
    }
  }
  &__price-title--md {
    &::before {
      left: max(8vw, 200px);
      width: calc(100% - (max(8vw, 200px)));
    }
  }
  &__price-title--mmd {
    &::before {
      left: max(8vw, 230px);
      width: calc(100% - (max(8vw, 230px)));
    }
  }
  &__price-title--lg {
    &::before {
      left: max(8vw, 320px);
      width: calc(100% - (max(8vw, 320px)));
      @include m.sp {
        left: max(8vw, 250px);
        width: calc(100% - (max(8vw, 250px)));
      }
    }
  }
  &__price {
    padding: 0 20px;
  }
  &__price-table {
    width: 100%;
    margin-bottom: 100px;
    @include m.sp {
      margin-bottom: 50px;
    }
  }
  &__price-row {
    display: flex;
    gap: 40px;
    @include m.sp {
      display: block;
      border-bottom: 1px solid #d1cec0;
    }
  }
  &__price-item {
    width: 36%;
    text-align: left;
    font-size: clamp(0.875rem, 0.7331rem + 0.6054vw, 1.25rem);
    font-weight: normal;
    font-family: "Noto Sans JP", sans-serif;
    border-bottom: none;
    @include m.sp {
      font-size: 13px;
      display: inline-block;
      width: 58%;
    }
  }
  &__price-item:nth-child(2) {
    width: 100%;
    @include m.sp {
      display: inline;
    }
  }
  &__price-item:nth-child(3) {
    width: 40%;
    font-size: clamp(0.75rem, 0.6554rem + 0.4036vw, 1rem);
    @include m.sp {
      display: block;
      width: 100%;
      font-size: 12px;
    }
  }
  &__price-item--sm {
    width: 32%;
  }
  &__price-item--sm:nth-child(2) {
    width: 24%;
  }
  &__price-item--sm:nth-child(3) {
    width: 44%;
  }
}
/*----------------------------------
  p-staff
-----------------------------------*/
.p-page-staff {
  &__wrapper {
    @include m.sp {
      padding: 0 20px;
    }
  }
  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 80px;
    @include m.sp {
      flex-direction: column-reverse;
      margin-bottom: 50px;
    }
  }
  &__item--r {
    flex-direction: row-reverse;
  }
  &__text-container {
    background: #fff;
    padding: 48px;
    flex: 1 1 m.vw(800);
    position: relative;
    margin-top: 64px;
    @include m.sp {
      margin-top: 0px;
      padding: 20px;
    }
  }
  &__text-container--r {
    margin-left: -78px;
    padding: 48px 48px 48px calc(48px + 78px);
    @include m.sp {
      margin-left: 0;
    }
  }
  &__img-wrapper {
    flex: 1 1 m.vw(650);
    margin-left: -78px;
    position: relative;
    @include m.sp {
      flex: 1 1 100%;
      margin-left: 0;
    }
    img {
      display: block;
      width: 100%;
    }
  }
  &__img-wrapper--r {
    margin-left: 0;
  }
  &__profile {
    display: flex;
    flex-wrap: wrap;
  }
  &__text {
    padding-bottom: 32px;
  }
  &__text-title {
    flex: 1 1 30%;
    @include m.sp {
      flex: 1 1 100%;
      font-weight: s.$medium;
    }
  }
  &__dots {
    display: block;
    padding-bottom: 10px;
    margin-right: 20px;
  }
  &__text-content {
    flex: 1 1 70%;
    display: flex;
    @include m.sp {
      flex: 1 1 100%;
      margin-bottom: 20px;
    }
  }
  &__comment {
    display: inline-block;
  }
  &__title {
    color: s.$tealBlue;
    font-weight: s.$regular;
    letter-spacing: 0.05em;
    font-size: 32px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 32px;
    @include m.sp {
      font-size: 24px;
    }
    &::before {
      content: "";
      position: absolute;
      width: calc(100% + 48px);
      bottom: 0;
      background: s.$tealBlue;
      height: 1px;
      @include m.sp {
        width: 100%;
      }
    }
  }
  &__title--sub {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    &::before {
      content: none;
    }
  }
  &__position {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
    @include m.sp {
      font-size: 16px;
    }
  }
  &__content-title-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-bottom: 50px;
  }
  &__content-title {
    font-size: 28px;
    font-weight: s.$medium;
    letter-spacing: 0.3em;
    position: relative;
    padding: 0 20px;
    z-index: 1;
    background-color: s.$offWhite;
    @include m.sp {
      font-size: 20px;
    }
  }
  &__content-title-wrapper::before,
  &__content-title-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    width: calc(50% - 60px);
    border-bottom: 1px solid #d1cec0;
    transform: translateY(-50%);
    left: 0;
  }
  &__content-title-wrapper::after {
    left: auto;
    right: 0;
  }
  &__others {
    max-width: 1250px;
    margin: 0 auto;
    padding-bottom: 150px;
    @include m.sp {
      padding-bottom: 70px;
    }
  }
  &__sub-list {
    display: flex;
    gap: 2rem;
    @include m.sp {
      flex-direction: column;
    }
  }
  &__sub-item {
    flex: 1 1 calc(33.333% - 2rem / 3);
  }
  &__recruit-wrapper {
    width: m.vw(912);
    max-width: 900px;
    height: auto;
    aspect-ratio: 912 / 553;
    position: relative;
    background: s.$lightBeige;
    @include m.sp {
      width: 100%;
    }
  }
  &__recruit-img {
    position: absolute;
    bottom: 6%;
    left: 5%;
    @include m.sp {
      bottom: 0;
      left: 0;
    }
  }
  &__recruit-text-wrapper {
    background: #fff;
    padding: m.vw(49) m.vw(200) m.vw(49) m.vw(60);
    width: m.vw(1000);
    margin-left: auto;
    margin-top: -220px;
    margin-bottom: 123px;
    position: relative;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    @include m.sp {
      margin-top: 10px;
      padding: 20px;
      width: 100%;
    }
  }
  &__recruit-text {
    margin-bottom: 50px;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 1.875;
  }
}

/*----------------------------------
  p-about
-----------------------------------*/
.p-page-about {
  &__lead {
    text-align: center;
    font-size: 24px;
    font-weight: s.$regular;
    letter-spacing: 0.05em;
    line-height: 1.875;
    margin-bottom: 60px;
    @include m.sp {
      font-size: 18px;
      padding: 0 20px;
    }
  }
  &__link-wrapper {
    text-align: center;
    padding-bottom: 110px;
    @include m.sp {
      padding: 0 20px 70px;
    }
  }
}

/*----------------------------------
  p-job
-----------------------------------*/
.p-page-job {
  &__catch-img {
    width: 100vw;
    aspect-ratio: 1366 / 509;
    object-fit: cover;
  }
  &__catch {
    position: relative;
    display: block;
  }
  &__catch::before {
    position: absolute;
    content: "";
    background: #716666;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1;
  }
  &__catch-text {
    text-align: center;
    position: absolute;
    font-size: 24px;
    font-weight: s.$bold;
    letter-spacing: 0.3em;
    line-height: 1.875;
    color: #fff;
    width: 100%;
    top: 15%;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    @include m.sp {
      font-size: 16px;
    }
  }
  &__welfare-wrapper {
    padding: 60px 50px;
    background: #fafaf8;
    border-radius: 10px;
    max-width: 1200px;
    width: 100%;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
    z-index: 10;
    @include m.sp {
      padding: 30px 20px;
      width: 90%;
      top: 90%;
    }
  }
  &__welfare-lead {
    font-size: 20px;
    font-family: "Noto Sans JP", sans-serif;
    letter-spacing: 0.05em;
    line-height: 1.5;
    padding-bottom: 30px;
    @include m.sp {
      font-size: 16px;
    }
  }
  &__list-wrapper {
    margin-top: 400px;
    @include m.sp {
      margin-top: 1100px;
    }
  }
}

/*----------------------------------
  archive-shops
-----------------------------------*/
.p-archive-shops {
  @include m.sp {
    padding: 0 20px;
  }
  &__wrapper {
    max-width: 1300px;
    margin: 0 auto 110px;
    @include m.sp {
      margin-bottom: 70px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: m.vw(80);
    flex-wrap: wrap;
    margin-bottom: 36px;
    @include m.sp {
      flex-direction: column;
    }
  }
  &__item {
    flex: 1 1 calc(33.333% - m.vw(80) * 2);
    text-align: center;
    @include m.sp {
      margin-bottom: 20px;
    }
  }
  &__img {
    border-radius: 10px;
    aspect-ratio: 350 / 263;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 26px;
    letter-spacing: 0.1em;
    color: s.$tealBlue;
    font-weight: s.$medium;
    margin-bottom: 38px;
    @include m.sp {
      font-size: 22px;
      margin-bottom: 20px;
    }
  }
  &__link {
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: s.$medium;
    text-decoration: underline;
  }
}

/*----------------------------------
  p-policy
-----------------------------------*/

.p-page-policy {
  &__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    line-height: 1.65;
    @include m.sp {
      padding: 0 20px;
      margin-top: -40px;
    }
  }
  &__text {
    margin-bottom: 60px;
    font-weight: s.$regular;
    @include m.sp {
      margin-bottom: 30px;
    }
  }
  &__sub-title {
    font-weight: s.$bold;
    margin-bottom: 20px;
  }
}

/*----------------------------------
  single-shops
-----------------------------------*/
.p-single-shops {
  @include m.sp {
    padding: 0 20px;
    margin-top: -30px;
  }
  &__wrapper {
    max-width: 1100px;
    margin: 0 auto;
  }
  &__title {
    text-align: center;
    font-size: 34px;
    letter-spacing: 0.1em;
    font-weight: s.$medium;
    color: s.$tealBlue;
    margin-bottom: 43px;
    @include m.sp {
      font-size: 24px;
    }
  }
  &__img-wrapper {
    display: grid;
    width: 100%;
    place-items: center;
    padding-bottom: 44px;
    @include m.sp {
      padding-bottom: 20px;
    }
  }
  &__text-wrapper {
    padding-bottom: 90px;
    @include m.sp {
      padding-bottom: 60px;
    }
  }
}

/*----------------------------------
  single-archive
-----------------------------------*/
.p-archive-shops {
  &__wrapper {
    max-width: 1300px;
    margin: 0 auto 110px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: m.vw(80);
    flex-wrap: wrap;
    margin-bottom: 36px;
    @include m.sp {
      flex-direction: column;
    }
  }
  &__item {
    flex: 1 1 calc(33.333% - m.vw(80) * 2);
    text-align: center;
  }
  &__img {
    border-radius: 10px;
    aspect-ratio: 350 / 263;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 26px;
    letter-spacing: 0.1em;
    color: s.$tealBlue;
    font-weight: s.$medium;
    margin-bottom: 38px;
  }
  &__link {
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: s.$medium;
    text-decoration: underline;
  }
}

/*----------------------------------
  single-gallery
-----------------------------------*/
.p-single-gallery {
  &__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    @include m.sp {
      padding: 0 20px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: m.vw(97);
    margin-bottom: 119px;
  }
  &__item {
    flex: 1 1 calc(33.333% - m.vw(97) * 2 / 3);
    @include m.sp {
      flex: 1 1 100%;
    }
  }
  &__img {
    width: 100%;
    aspect-ratio: 320 / 362;
    border-radius: 10px;
    margin-bottom: 22px;
    @include m.sp {
      aspect-ratio: auto;
    }
  }
  &__title {
    font-size: 20px;
    font-weight: s.$medium;
    letter-spacing: 0.1em;
    color: s.$tealBlue;
    margin-bottom: 17px;
    @include m.sp {
      font-size: 16px;
    }
  }
  &__link-wrapper {
    text-align: right;
  }
  &__link {
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: s.$medium;
    text-decoration: underline;
    margin-right: 20px;
  }
}

/*----------------------------------
  page-faq
-----------------------------------*/
.p-page-faq {
  margin-bottom: 120px;
  &__content-title-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-bottom: 50px;
    text-align: center;
  }
  &__content-title {
    font-size: 24px;
    font-weight: s.$medium;
    letter-spacing: 0.3em;
    position: relative;
    padding: 0 20px;
    z-index: 1;
    line-height: 1.875;
    background-color: s.$offWhite;
    @include m.sp {
      font-size: 18px;
    }
  }
  &__content-title-wrapper::before,
  &__content-title-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    width: calc(50% - 60px);
    border-bottom: 1px solid #d1cec0;
    transform: translateY(-50%);
    left: 0;
  }
  &__content-title-wrapper::after {
    left: auto;
    right: 0;
  }
  &__content {
    max-width: 1200px;
    margin: 0 auto;
    @include m.sp {
      padding: 0 20px;
    }
  }
  &__item {
    margin-bottom: 20px;
    font-family: "Noto Sans JP", sans-serif;
    @include m.sp {
      font-size: 14px;
    }
  }
  &__question {
    background: #fff;
    position: relative;
    padding: 20px 80px 25px;
    cursor: pointer;
    font-weight: s.$bold;
    @include m.sp {
      padding-left: 60px;
      padding-right: 30px;
      line-height: 1.25;
    }
  }
  &__answer {
    background: #fff;
    position: relative;
    padding-left: 80px;
    padding-right: 100px;
    min-height: 60px;
    display: grid;
    align-items: center;
    line-height: 2;
    font-weight: s.$regular;
    @include m.sp {
      padding-left: 60px;
      padding-right: 30px;
    }
  }
  &__question::before {
    content: "";
    position: absolute;
    background-image: url("../img/common/q.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    @include m.sp {
      width: 36px;
      height: 36px;
    }
  }
  &__answer::before {
    content: "";
    position: absolute;
    background-image: url("../img/common/a.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    @include m.sp {
      width: 36px;
      height: 36px;
    }
  }
  &__toggle {
    width: 25px;
    height: 2px;
    background-color: #d1cec0;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    opacity: 1;
    @include m.sp {
      width: 15px;
    }
  }
  &__toggle.is-open::after {
    opacity: 0;
  }
  &__toggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #d1cec0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  &__toggle::after {
    bottom: 10px;
    transform: rotate(90deg);
  }
}

/*----------------------------------
  page-contact
-----------------------------------*/
.p-contact {
  @include m.sp {
    padding: 0 20px;
  }
  &__wrapper {
    max-width: 1100px;
    margin: 0 auto;
  }
  &__lead {
    font-family: "Noto Sans JP", sans-serif;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 60px;
    @include m.sp {
      margin-top: -20px;
      margin-bottom: 36px;
    }
  }
  &__form {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: s.$regular;
    font-size: 16px;
    @include m.sp {
      font-size: 14px;
    }
  }
  &__form-item {
    display: flex;
    margin-bottom: 20px;
    @include m.sp {
      flex-direction: column;
    }
  }
  &__form-label {
    flex: 1 1 30%;
    @include m.sp {
      margin-bottom: 10px;
    }
  }
  &__form-input,
  &__form-textarea {
    text-align: left;
    flex: 1 1 70%;
    background: s.$lightBeige;
    padding: 10px;
    line-height: 1.875;
  }
  &__form-textarea {
    min-height: 100px;
    @include m.sp {
      line-height: 1.25;
    }
  }
  &__form-submit {
    margin-top: 40px;
    margin-bottom: 100px;
    justify-content: center;
  }
}
.custom-radio__wrapper {
  flex: 1 1 70%;
  display: flex;
}
.custom-checkbox {
  display: flex;
  justify-content: center;
}
.custom-radio,
.custom-checkbox {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none;
}

.custom-radio input[type="radio"],
.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-radio label,
.custom-checkbox label {
  position: relative;
  cursor: pointer;
  padding-left: 5px;
}

.custom-radio label:before,
.custom-checkbox label:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 53%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: 2px solid #d1cec0;
  border-radius: 0;
  background-color: white;
}

.custom-radio input[type="radio"]:checked + label:before,
.custom-checkbox input[type="checkbox"]:checked + label:before {
  background-color: #d1cec0;
}

/*----------------------------------
  p-page  / common
-----------------------------------*/
.p-page {
  &__youtube {
    text-align: center;
    margin-bottom: 110px;
    @include m.sp {
      margin-bottom: 70px;
    }
    iframe {
      max-width: 1100px;
      width: 100%;
      aspect-ratio: 1100 / 619;
    }
  }
  &__list {
    max-width: 1200px;
    margin: 0 auto;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
    font-family: "Noto Sans JP", sans-serif;
    @include m.sp {
      padding: 0 20px 30px;
    }
  }
  &__item {
    background: s.$lightBeige;
    margin-bottom: 10px;
    padding: 20px 30px;
    letter-spacing: 0.05em;
    font-size: 18px;
    align-items: stretch;
    display: flex;
    line-height: 1.875;
    @include m.sp {
      font-size: 14px;
      padding: 10px;
    }
  }
  &__head {
    flex: 1 1 30%;
    @include m.sp {
      flex: 1 1 35%;
    }
  }
  &__description {
    flex: 1 1 70%;
    @include m.sp {
      flex: 1 1 65%;
    }
  }
}
